body {
    font-family: 'Passeio Test', Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    text-decoration: none;
}

#me {
    font-size: 4vw;
    color: rgb(88, 88, 226);
    font-weight: bold;
}
.nav-item {
    font-size: 20px;
}
.navbar {
    height: 17%;
    font-weight: bold;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: end;
    justify-content: flex-end;
}
.avatar {
    border-radius: 50%;
    width: 230px;
    height: 200px;
}
.btn {
    background-color: rgb(146, 120, 238);
    border: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}
.hero p {
    font-size: 16px;
}

.card {
    height: auto;
    margin: 10px;
}
.card img {
    border-radius: 5%;
    max-height: 150px;
    object-fit: cover;
}

.link {
    text-decoration: none;
    font-size: 16px;
    color: rgb(130, 117, 252);
}
#HnM {
    background-image: url("../images/hnm.avif");
    height: 400px;
    background-position: center;
}